body {
    width: 60%;
    margin: 0 auto;
}

table {
    margin: 0 auto;
}

div .logs-number {
    width: 45%;
    display: inline;
}
div .server-time {
    width: 45%;
    display: inline;
}
div .refresh-button {
    width: 45%;
    display: inline;
}


#webhooklogs {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

    #webhooklogs td, #webhooklogs th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #webhooklogs tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #webhooklogs tr:hover {
        background-color: #ddd;
    }

    #webhooklogs th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #f58a22;
        color: white;
    }
