@page
@model WebhookCatcher.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
</head>

<style>
.content {
  margin: auto;
}
</style>

<body>
    <div class="content">
    <h2>It's @Model.Time right now on the server!</h2>
        
        @Html.Raw(@Model.Logs)
    </div>
   
</body>
</html>

